<div class="setting map-cover">
    <h3 class="caffes-map">Caffes map<span>(現在地から半径750m以内にあるカフェを表示しています/Showing cafes within a radius of 750m from your current location)</span></h3>
    <div id='map'></div>
</div>
