<div class="bulletin">
    <div class="mini">
            <p>ユーザー情報を更新しました!<p>
            <%= link_to "トップページに戻る", root_path, class: "minibtn" %>
            <%= link_to "マイページへ", user_path(current_user), class: "minibtn" %>
    </div>
</div>