.devise-cover {
    background-color: #FFF;
    width: 50%;
    margin: 15vh auto 0;
    text-align: center;
    border: 4px solid #7b5544;
    border-radius: 2%;
    padding: 3% 0;
    opacity: 0.9;
    }

.field {
    margin: 1vh 0;
    }
    
.minifield {
    border: 2px solid #000;
    }    
// --------------------------------------------------------

// -------------------------------------------
.deviselinks {
    display: inline-block;
    margin-top: 1vh;
    }