.devise-cover {
    width: 40%;
    margin: 10vh auto 0;
    background: rgba(0,0,0, 0.7); 
    display: flex;
    
    h2, h4 {
        font-weight: lighter;
        margin: 3vh auto;
        color: #FFF;
        border-bottom: 2px solid #FFF;
        width: 50%;
        padding-bottom: 1vh;
        }
    }

.devise-cover.sign_up_cover {
    margin-top: 5vh;
    
    }

.devise-card {
    background: rgba(51,51,51, 0.9); 
    margin: 2vh auto;
    padding: 2vh 0;
    width: 90%;
    box-shadow: 0 0 1rem 1rem rgba(0,0,0,0.2);
    text-align: center;
    max-height: 76vh;
    overflow-y: auto;
    }
    
.field {
    margin: 2vh 0;
    }

.field_text, .alert {
    color: #FFF;
    }    
    
.minifield {
    height: 3vh;
    border: 2px solid #FFF;
    color: #FFF;
    }    
// --------------------------------------------------------
.devise_btn {
    display: block;
    margin: 0 auto 2vh;
    background: #ec7211;
    width: 50%;
    border-radius: 5px;
    padding: 1vh 0;
    color: #FFF;
    font-weight: bold;
    
    &:hover {
        color: #ec7211;
        background-color: #FFF;
        }
}

// -devise/shared/_links.html.erb------------------------------------------
#error_explanation {
    color: #FFF;
     
    ul {
      list-style: none;
    }
}
    
.deviselinks {
    text-decoration: none;
    color: #FFF;
    
    &:hover {
        border-bottom: 2px solid #FFF;
        }
}