nav.pagination {

    &:hover {
        cursor: pointer;
        }

    span {
        color: skyblue;
        a {
            text-decoration: none;
            color: #FFF;
            }
        }
    }