nav.pagination {

    &:hover {
        cursor: pointer;
        }

    a {
        text-decoration: none;
        color: #FFF;
    }
    
    .current {
        color: #FFD700;
    }
    
    a, .current {
        &:hover{
            text-decoration: underline;
            }
        }
    
    .gap {
        color: #FFF;
        }
}