// application.html.erb
body {
  background-image: url(coffee-shop-393954_1920.jpg);
  background-size: cover;
  min-height: 100vh;
  }
  
header {
    background-color: black;
    height: 10vh;
    opacity: 0.5;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0.9;
  font-size: 1%;
  
  p {
    color: white;
    padding-left: 10rem;
    a {
      text-decoration: none;
      color: white;
      }
    }  
  }
// ----------------------------------------------------------
// logs/index.html.erb
.main {
    display: flex;
    width: 100%;
    height: 90vh;
}

.maincontent{
    width: 80%;
    margin: 0 auto;
    position: relative;
    }

.wrapper {
  position: absolute;
  top: 35%;
  }  
  
.btn {
  text-align: center;
  }    
  
.button {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  display: inline-block;
  padding: 0.5em 1em;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
  
    &:active {
      border-bottom: solid 2px #fd9535;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
      }
}
    
.explanation {
    text-align: center;
    background-color: #333;
    opacity: 0.9;
    
    p {
      color: white;
      }
}

.select {
  display: none;
  // jqueryを使う
}
  
.items {
  height: 90vh;
  padding-top: 5em;
    
    .eggs {
      // width: 33.33%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      ul, li {
        list-style: none;
        display: inline-block;
        }
    }
    
    .item {
      display: inline-block;  
      }
}

.starbucks{
  background-color: #00704a;
  color: #FFF;
  }
  
.doutor{
  background-color: #FFF;
  color: #000000;
  font-weight: bold;
  
    span{
      color: #ffc000;
      }
  }
  
.tullys{
  background-color: #000;
  color: #FFF;
  }
  
.excelsior{
  // background-color: ;
  // color: ;
  }
  
.other{
  // background-color: ;
  // color: ;
  }
  
.house{
  // background-color: ;
  // color: ;
  }
  
// -------------------------------------------------------------------------
// logs/all.html.erb
.setting {
  width: 80%;
  height: 90vh;
  background-color: #333;
  opacity: 0.9;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  }

.full {
  width: 70%;
  margin: 0 auto;
  }

.one-log {
  height: 10vh;
  margin-bottom: 1vh;
  color: white;
  border: 3px solid #666333;
  
   p {
     text-decoration: none;
     }
  }
  
.destroy-btn {
  text-align: right;
  }
  
.one-destroy {
  display: inline-block;
  padding: 0.2rem;
  background-color: #FF0000;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  }

.pagnation {
  width: 100%;
  
  }
// ---------------------------------------------------
// logs/destroy&create html.erb
.bulletin {
  width: 80%;
  height: 10rem;
  background-color: #333;
  opacity: 0.9;
  margin: 20% auto 0;
  display: flex;
  justify-content: center;
  position: relative;
  
  }
  
.mini {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  
  p {
    color: white;
    padding: 5% 0;
    }
  }
  
// ボタンについて(destroy.html.erb)------------------------
.minibtn {
  display: inline-block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  
    &::after{
      position: absolute;
      bottom: -8px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #FFF;
      visibility: hidden;
      transition: 0.2s;
    }
    
    &:hover::after{
      bottom: -4px;
      opacity: 1;
      visibility: visible;
      }
}
// ------------------------------------------------