// application.html.erb
body {
  background-image: url('coffee-shop-393954_1920.jpg');
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
  }
// ---------------------------------------------------------
// このアプリのすべてのスクロールバー設定
::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  background: #FFF;
  border: none;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 1rem;
  box-shadow: none;
}
// ----------------------------------------------------------------
.header {
    height: 10vh;
    background: rgba(0,0,0, 0.7); 
    // ↑background-color: #000;, opacity: 0.7;と同義だが
    // 透過度を子要素に継承させないことができる
    position: relative;
    z-index: 1; // ←ドロワーメニューを最前面に持ってくる
    
    .homelogo {
      display: inline-block;
      text-decoration: none;
      color: #FFF;
      font-size: 2em;
      line-height: 10vh;
      margin-left: 5vw;
        
        &:hover {
         text-shadow: -6px 0px 15px rgba(255, 255, 240, 1),
         6px 0px 15px rgba(255, 255, 240, 1);
        }
      }
    
    #sidebarMenu {
      position: fixed;
      top: 10vh;
      right: 0;
      height: 90vh;
      width: 20%;
      transform: translateX(100%);
      transition: transform 250ms ease-in-out;
      background-color: #000;  
      opacity: 1;
  
      p {
        background: linear-gradient(-135deg, #E4A972, #9941D8);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        padding: 1.5rem;
        cursor: default;
        text-transform: uppercase;
        // 全ての小文字を大文字に(.innerlink)
        }
    }
    
  
  .sidebarMenuInner{
      border-top: 2px solid rgba(255, 255, 255, 0.1);
    }
  
    .innerlink{
        display: flex;
        flex-direction: column;
        color: #FFF;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1.5rem;
        cursor: pointer;
        border-bottom: 2px solid rgba(255, 255, 255, 0.10);
        text-decoration: none;
        
      &:hover {
        text-shadow: -6px 0px 15px rgba(255, 255, 240, 1),
        6px 0px 15px rgba(255, 255, 240, 1);
      }
    }
  
    input[type=checkbox] {
        transition: all 0.3s;
        display: none;
    }
  
  .sidebarIconToggle {
      transition: all 0.3s;
      cursor: pointer;
      position: absolute;
      top: 2vh;
      right: 4vw;
      width: 4vw;
      height: 6vh;
      opacity: 0.9;
    }

    .spinner {
        transition: all 0.3s;
        position: absolute;
        top: 35%;
        left: 10%;
        height: 3px;
        width: 80%;
        background-color: #fff;
    }
    
    .horizontal {
        transition: all 0.3s;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        float: left;
    }
    
    .diagonal.part-2 {
        transition: all 0.3s;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    
    input[type=checkbox]:checked ~ .sidebarIconToggle {
        transition: all 0.3s;
      
      .horizontal {
        opacity: 0;
      }
      
      .diagonal.part-1 {
        transform: rotate(-135deg);
        margin-top: 8px;
      }
      
      .diagonal.part-2 {
        transform: rotate(135deg);
        margin-top: -8px;
      }
    }
      
  } // ←.header
  
footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1vh;
  
  p {
    color: white;
    padding-left: 10vw;
    a {
      text-decoration: none;
      color: white;
      }
    }  
  }
// ----------------------------------------------------------------
// logs/index.html.erb
.main {
    display: flex;
    min-width: 100%;
    height: 90vh;
    position: relative;
}

.maincontent{
    width: 80%;
    margin: 0 auto;
    position: relative;
    }

.wrapper {
  position: absolute;
  top: 35%;
  }  
  
.btn {
  text-align: center;
  }    
  
.button {
  width: 15%;
  height: 15%;
  border-radius: 50%;
  display: inline-block;
  padding: 0.5em 1em;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #c58668;
    
      &:hover {
      cursor: pointer;
      }
  
    &:active {
      border-bottom: solid 2px #fd9535;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
      }
}
    
.explanation {
    text-align: center;
    background-color: #333;
    opacity: 0.9;
    margin-top: 3vh;
    
    p {
      color: white;
      }
      
   .emergency {
      color: red;
     }
      
    .choose {
      margin-top: 5%;
      margin-bottom: 7%;
      }
}

.select {
  display: none;
  // jqueryを使う
}
  
.items {
  
    .eggs {
      margin: 5% 0;
      display: flex;
      justify-content: space-between;
    }
    
    .item {
      background-color: white;
      width: 30%;
      height: 10rem;
      
      &:hover {
        cursor: default;
        }
      
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 30%;
        font-size: 120%;
        }
        
      h3 {
        text-align: center;
        padding: 2% 0;
        }  
      
      .size {
        overflow-x: auto;
        overflow-y: hidden;
        width: 80%;
        margin: 0 auto;
        
        display: flex;
        justify-content: space-around;
        text-align: center;
        // ↑各アイテムを均等に配置し各アイテムの両側に半分の大きさの間隔を置く
  // サイズ選びのボタンについて--------------------------------------      
        .sbtn {
          width: 33.3%;
          text-decoration: none;
          font-weight: bold;
          font-size: 1.6rem;
          border: none;
          position: relative;
          cursor: pointer;
          transition: 800ms ease all;
          outline: none;
          
            &:before,&:after{
              content:'';
              position: absolute;
              top: 0;
              right: 0;
              height: 2px;
              width: 0;
              transition: 400ms ease all;
            }
            
            &:after{
              right: inherit;
              top: inherit;
              left: 0;
              bottom: 0;
            }
          
            &:hover:before,&:hover:after{
              width: 100%;
              transition: 800ms ease all;
            }
          }
          
          .sbtn.starbucks {
            border: 2px solid #FFF;
            
            &:hover {
              background-color: #FFF;
              color: #00704a;
              }
            &:before,&:after {
              background-color: #FFF;
              }   
          }
          
          .sbtn.doutor {
            color:  #ffc000;
            
            &:hover {
              background-color: #ffc000;
              color: #FFF;
              }
              
            &:before,&:after {
              background-color: #ffc000;
              }   
          }
            
          .sbtn.tullys {
            border: 2px solid #FFF;
            
            &:hover{
              background: #FFF;
              color: #000;
            }
            
            &:before,&:after{
              background: #FFF;
            }
          }
            
          .sbtn.excelsior {
            
            &:hover{
              background: #0080CC;
              color: #FFF;
            }
            
            &:before,&:after{
              background: #0080CC;
            }
          }
            
          .sbtn.other {
            border: 2px solid #FFF;
            
            &:hover{
              background: #FFF;
              color: #f4a460;
            }
            
            &:before,&:after{
              background: #FFF;
            }
          }
            
          .sbtn.house {
            
            &:hover{
              background: #9acd32;
              color: #FFF;
            }
            
            &:before,&:after{
              background: #9acd32;
            }
          }
  // ------------------------------------------------------------------------------          
      }
      .size.wid {  //サイズ選択肢が4つある場合
        width: 100%;
      }  
    }
}

.starbucks {
  background-color: #00704a;
  color: #FFF;
  font-weight: bold;
  }
  
.doutor {
  background-color: #FFF;
  color: #000;
  font-weight: bold;
  border: 2px solid #ffc000;
  
    span{
      color: #ffc000;
      }
  }
  
.tullys {
  background-color: #000;
  color: #FFF;
  font-weight: bold;
  }
  
.excelsior {
  background-color: #FFF;
  color: #0080CC;
  font-weight: bold;
  border: 2px solid #0080cc;
  
    span {
      color: 	#009B74;
      }
  }
  
.other {
  background-color: #f4a460;
  color: #FFF;
  font-weight: bold;
  }
  
.house {
  background-color: #FFF;
  color: #9acd32;
  font-weight: bold;
  border: 2px solid #9acd32;
  }
  
// -------------------------------------------------------------------------
// logs/all.html.erb(users/show.html.erb)
.setting {
  width: 80vw;
  background: rgba(0,0,0, 0.7); 
  margin: 2vh auto;
  height: 84vh;
  padding: 2vh 0;
  }

.whitecover {
  min-height: 80vh;
  width: 76vw;
  margin: 0 auto;
  background: rgba(51,51,51, 0.9); 
  filter: brightness(95%);
  padding-top: 2vh;
  }
  
.full {
  width: 70%;
  margin: 0 auto;
  }
// --------------------------------------------------------------------
// logs/_log.html.erb(allとusers/showのテンプレート)
.one-log {
  height: 10vh;
  margin-bottom: 2vh;
  border: 3px solid #F2F2F2;
  position: relative;

   p {
     text-decoration: none;
     color: #F2F2F2;
     max-width: 75%;
    // ↑deleteボタンを付けたら変える
     table-layout: fixed;
     word-wrap: break-word;
     margin-left: 1vw;
     .ago {
       display: inline-block;
      margin-left: 4px;
       }
       
     &:hover {
       cursor: default;
       }
     }
     
    .strftime {
      position: absolute;
      bottom: 0;
      right: 0;
      }
    
    .post_time {
      position: absolute;
      top: 0;
      right: 0;
      }
  }
  
.one-destroy {
  position: absolute;
  
  top: 4vh;
  right: 2vw;
  transform: translateY(-50%);
  display: inline-block;
  padding: 0.2rem;
  border-radius: 50%;
  
    &:hover{
        background: rgba(255,0,0,0.7); 
      }
  }

// ---------------------------------------------------
// logs/destroy&create html.erbとusers/update.html.erb
.bulletin {
  width: 80%;
  height: 20vh;
  background-color: #333;
  opacity: 0.9;
  margin: 30vh auto 0;
  display: flex;
  justify-content: center;
  position: relative;
  
  }
  
.mini {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-weight: bold;
  
  p {
    color: white;
    padding: 5% 0;
    }
  }
  
// ボタンについて(create&destroy.html.erb)------------------------
.minibtn {
  display: inline-block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  
    &::after{
      position: absolute;
      bottom: -8px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #FFF;
      visibility: hidden;
      transition: 0.2s;
    }
    
    &:hover::after{
      bottom: -4px;
      opacity: 1;
      visibility: visible;
      }
}
// ------------------------------------------------
// logs/new.html.erb
.cover {
  max-height: 80vh;
  margin: 20vh auto;
  }

.sheet {
  width: 80%;
  margin: 0 auto;
  padding: 2vh 0;
  background-color: #F2F2F2;
  border-radius: 2%;
  
    p {
      width: 80%;
      margin: 0 auto;
      // ↑text-areaと左の位置を揃えるレイアウトにするため
        
        span {
          padding: 0 1rem;
          text-align: center; 
          }
      }
  }  
  
.text-area {
  display: block;
  margin: 2vh auto;
  width: 80%; 
  height: 30vh;
  border: 2px solid #7b5544;
  }
  
// ボタンについて(logs/new.html.erb)----------------------------------  
.newbtn {
  margin-left: 10%;
  color: #FFF;
  background-color: #7b5544;
  font-weight: 500;
  
	text-align: center;
	border-top: 2px solid rgba(255,255,255,0.2);
	border-bottom: 2px solid rgba(0,0,0,0.2);
	border-radius: 2%;
  
  &:hover {
    opacity: 0.8;
    }
  
  &:active {
  transform: translate(0,2px);
	border-bottom: none;
    }  
  }
  //  views/users --------------------------------------------------------------------
// users/show.html.erb---------------------------------------------
.card {
  text-align: center;
  background: #F2F2F2;
  width: 40%;
  margin: 0 auto 2rem;
  padding: 1rem 0;
  position: relative;
  border: solid 2px transparent;
  border-image: url("https://www.infocrest.co.jp/ykxbdgs5qgq3/uploads/2019/10/blog_m02_2.jpg") 1 stretch;
  }

.neji {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4vh;
  height: 4vh;
  cursor: pointer;
    
  &:hover {
    filter: brightness(0.5);
  }
}


.top-image {
  align-items: center;
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  border: 2px solid #ec7211;
  background-color: #FFF;
}

.oneview {
  height: 40vh;
  padding: 0 1vw;
  overflow-y: auto;

    &::-webkit-scrollbar-track {
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #FFF;
    }
}
// users/edit.html.erb-----------------------------------------------
.editpage {
  width: 30%;
  margin: 10vh auto 0;
  height: 50vh;
  background: rgba(0,0,0, 0.7); 
  display: flex;
  }

.editcard {
  background: rgba(51,51,51, 0.9); 
  filter: brightness(95%);
  margin: auto;
  width: 90%;
  height: 90%;
  box-shadow: 0 0 1rem 1rem rgba(0,0,0,0.2);
  }  

.info {
  text-align: center;
  
  h3 {
    margin: 3vh auto;
    color: #FFF;
    border-bottom: 2px solid #FFF;
    width: 50%;
    padding-bottom: 1vh;
    }
  
  .edit_nickname {
    height: 3vh;
    // background: #FFF;
    border: 2px solid #FFF;
    color: #FFF;
    }
        
  .field_btn {
    display: block;
    margin: 0 auto;
    background: #ec7211;
    width: 50%;
    border-radius: 5px;
    padding: 1vh 0;
    color: #FFF;
    font-weight: bold;
  }
    
  .file-field {
    display: none;
  }
  
  .done.field_btn {
    margin-top: 4vh;
    }
}
// --------------------------------------------------------------
