<div class="setting">
 <div class="full">
  <% @logs.each do |one| %>
   <div class="one-log">
      <p><%= one.text %></p>
      <div class="destroy-btn">
       <%= link_to "destroy this log", log_path(one), method: :delete, class: "one-destroy" %>
      </div>
   </div>
  <% end %>
  <%= paginate @logs %>
 </div>
</div>