<% provide :title, " | 記録一覧" %>
<div class="setting">
 <div class="whitecover">
  <div class="full">
   <%= render partial: "log", collection: @logs %>
    <div class="pagination">
     <%= paginate @logs %>
    </div>
  </div>
 </div>
</div>