<div class="setting">
 <div class="whitecover">
  <div class="full">
   <%= render partial: "log", collection: @logs %>
   <div class="pagnation">
    <%= paginate(@logs) %>
   </div>
  </div>
 </div>
</div>