<div class="bulletin">
    <div class="mini">
            <p>記録しました!<p>
            <%= link_to "トップページに戻る", root_path, class: "minibtn" %>
            <%= link_to "ログ一覧に戻る", all_logs_path, class: "minibtn" %>
    </div>
</div>