<main class="main">
    <div class="maincontent">
        <div class="slide">
            <div class="wrapper">
                <div class="btn">
                    <img src="/assets/115815.png" class="button">
                </div>
                <div class="explanation">
                    <p>このwebアプリケーションはあなたのカフェイン摂取量が400mg/日を超えた時に摂取の抑制を促します</p>
                    <p>コーヒーなどを飲む際に上のボタンを押してください!</p>
                    <p>またコーヒーなどのを飲む際の感想などを記録、投稿することができます</p>
                    <p>This web application helps reduce your caffeine intake when it exceeds 400 mg / day.</p>
                    <p>Please press the button above when drinking coffee etc.!</p>
                    <p>You can also record and post your impressions when drinking coffee etc.</p>
                </div>   
            </div>
            <div class="select">
                <div class="explanation">
                    <div class="choose">
                    <p>お店と飲み物のサイズを選択してください</p>
                    <p> Please choose a store and drink size.</p>
                    </div>
                </div>
                <div class="items">
                    <div class="eggs">
                        <div class="item">
                            <p class="starbucks">Starbucks Coffee</p>
                            <h3>-size-</h3>
                            <div class="size">
                                <h2>short</h2>
                                <h2>tall</h2>
                                <h2>grande</h2>
                                <h2>venti</h2>
                            </div>
                        </div>
                        <div class="item">
                            <p class="doutor">DOUT<span>O</span>R</p>
                            <h3>-size-</h3>
                            <div class="size">
                                <h2>S</h2>
                                <h2>M</h2>
                                <h2>L</h2>
                            </div>
                        </div>
                        <div class="item">
                            <p class="tullys">TULLY's</p>
                            <h3>-size-</h3>
                            <div class="size">
                                <h2>short</h2>
                                <h2>tall</h2>
                                <h2>grande</h2>
                                <h2>enorme</h2>
                            </div>
                        </div>
                    </div>
                    <div class="eggs">
                        <div class="item">
                            <p class="excelsior"><span>E</span>XCELSIOR <span>C</span>AFFE</p>
                            <h3>-size-</h3>
                            <div class="size">
                                <h2>S</h2>
                                <h2>M</h2>
                                <h2>L</h2>
                            </div>
                        </div>
                        <div class="item">
                            <p class="other">その他</p>
                            <h3>-size-</h3>
                            <div class="size">
                                <h2>S</h2>
                                <h2>M</h2>
                                <h2>L</h2>
                            </div>
                        </div>
                        <div class="item">
                            <P class="house">お家</p>
                            <h3>-size-</h3>
                            <div class="size">
                                <h2>M</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</main>
